<div class="container">
    <!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="content-footer row">
            <div class="introduce-content col-lg-3">
                <h6>VỀ CHÚNG TÔI</h6>
                <ul>
                    <li><a href="#" class="">Giới thiệu về chúng tôi</a></li>
                    <li><a href="#" class="">Chính sách bán code</a></li>
                    <li><a href="#" class="">Điều khoản sử dụng</a></li>
                    <li><a href="#" class="">Chính sách chất lượng</a></li>
                </ul>
            </div>
            <div class="introduce-content col-lg-3">
                <h6>LIÊN HỆ NHANH</h6>
                <ul>
                    <li>Địa chỉ : 828 Sư Vạn Hạnh-Q10-Tp.HCM</li>
                    <li>Hotline : <span class="quick-contact-hotline">0967 123 456</span></li>
                    <li>email : @gmail.com</li>
                </ul>
            </div>
            <div class="introduce-content col-lg-3">
                <h6>THEO DÕI CHÚNG TÔI</h6>
                <ul class="contact-infor">
                    <li><a href="#" class=""><i class="ri-facebook-circle-fill"></i>CodeXChange</a></li>
                    <li><a href="#" class=""><i class="ri-instagram-line"></i>group_1_inst</a></li>
                    <li><a href="#" class=""><i class="ri-youtube-line"></i>Grou1 Channel</a></li>

                </ul>
            </div>
            <div class="introduce-content col-lg-3">
                <h6>GỬI HỖ TRỢ - GÓP Ý</h6>
                <!-- <a href="#" class=""><img src="image/atm-icon.png" alt="pay-help" class="pay-help-icon"></a>
      <a href="#" class=""><img src="image/visa-icon1.png" alt="pay-help" class="pay-help-icon"></a> <br>
      <a href="#" class=""><img src="image/master-cart.png" alt="pay-help" class="pay-help-icon"></a>
      <a href="#" class=""><img src="image/vnpaylogo.png" alt="pay-help" class="pay-help-icon"></a> -->
                <form action="#">
                    <textarea name="" class="send-support-area"
                        placeholder="Nội dung hỗ trợ (Email/SĐT)"></textarea>
                    <button class="btn btn-support-summit" type="submit"><i class="bi bi-send"></i> Gửi
                        nhanh</button>

                </form>

            </div>
        </div>
        <hr>
        <div class="payment-footer">
            <h6>Hỗ trợ thanh toán qua</h6>
            <div class="img-paypent-footer">
                <img src="assets/img/payment-footer.png" alt="">
            </div>
        </div>
        <hr>
    </div>

    <div class="copy-right-content">
        <p>Copyrights © 2014 codexchange.vn | Privacy Policy | Nội dung đã được bảo vệ bản quyền </p>
    </div>
</footer>
<!-- end-footer -->

</div>