<div class="container" style="display: flex; justify-self: center;">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto; display: flex; justify-content: center;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Nạp xu thành công</h1>
        <h5>+ {{amount}} xu </h5>

        <p>Cám ơn bạn đã tin tưởng và nạp tiền vào hệ thống của chúng tôi <br /> Chúc bạn có những trải nghiệm tốt nhất</p>
        <button class="btn" [routerLink]="['/']">Quay lại trang chủ</button>
    </div>
</div>