<div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark header-admin">
        <!-- Navbar Brand-->
        <!-- <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a> -->
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="bi bi-list"></i></button>

        <ul class="navbar-nav  ms-auto ms-md-0 me-3 me-lg-4 admin-logged-icon">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="bi bi-person-circle"></i>admin@gmail.com</span>
                <ul class="dropdown-menu dropdown-menu-end admin-logged-options" aria-labelledby="navbarDropdown">
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><button class="dropdown-item" (click)="onLogOut()">Đăng xuất</button></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="head-title-admin-dashboard">

                        <h3>Code X Changes</h3>
                    </div>
                    <div style="margin: 50px 0px; "></div>
                    <div class="nav">


                        <a class="nav-link" [routerLink]="['/admin-notification']">
                            <div class="">

                                <h5><i class="bi bi-bell"></i> Thông báo 
                                <span class="count-notification">{{countUnreadNoti}}</span>
                                    
                                </h5>

                            </div>
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Source code</div>
                        <a class="nav-link" [routerLink]="['/admin-home']">
                            <i class="bi bi-code-slash"></i>
                            Quản lý source code
                        </a>
                        <a class="nav-link" href="">
                            <i class="bi bi-braces"></i>
                            Quản lý danh mục
                        </a>

                        <div class="sb-sidenav-menu-heading">Người dùng</div>
                        <a class="nav-link" [routerLink]="['/admin-member-manage']">
                            <i class="bi bi-person-lines-fill"></i>
                            Quản lý thành viên
                        </a>

                        <div class="sb-sidenav-menu-heading">Thống kê</div>
                        <a class="nav-link" href="">
                            <i class="bi bi-person-lines-fill"></i>
                            Thống kê doanh thu
                        </a>

                        <div class="sb-sidenav-menu-heading">Giao dịch</div>
                        <a class="nav-link" href="">
                            <i class="bi bi-cash-coin"></i>
                            Danh sách nạp tiền
                        </a>
                        <a class="nav-link" href="">
                            <i class="bi bi-cash-coin"></i>
                            Yêu cầu rút tiền
                        </a>

                      
                        <!-- <div class="sb-sidenav-menu-heading">Hỗ trợ</div>
                        <a class="nav-link" href="">
                            <i class="bi bi-chat-left-dots"></i>
                            Yêu cầu hỗ trợ  
                        </a> -->
                        
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>

    </div>

</div>