<div id="layoutSidenav_content">

    <main>
        <div class="container-fluid px-4">
            <h3><i class="bi bi-people"></i>Thông tin tài khoản</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="user-information">
                        <div class="infor-user">
                            <h4 style="color: gray;"> Thành viên </h4>
                            <img [src]="user.avatar_Url" alt="">
                            <h4>{{user.name}} - {{user.coin_Balance}} xu</h4>
                            <h6>(Email : {{user.email}})</h6>
                            <h6>(Số điện thoại : {{user.phone_Number}})</h6>
                        </div>
                        <hr>
                        <div class="bg-light" style="padding: 10px 0px;">
                            <h4>Source code đã mua</h4>
                        </div>

                        <!-- <div class="transaction-item" *ngFor="let item of user.purchase_History">
                            <h5>{{item.code_Product.code_Title}}</h5>
                            
                        </div> -->
                        <ul class="list-group">

                            <a href="#" class="list-group-item list-group-item-action"
                                *ngFor="let item of user.purchase_History">{{item.code_Product.code_Title}}</a>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-8">
                    <h4>Soure code đã đăng bán</h4>
                    <hr>

                    <div class="row">
                        <!-- product-item -->
                        <div class="col-lg-3" *ngFor="let item of user.code_Products" >
                            <div class="box-prod" style="padding: 10px;">
                                <a href="" class="link-prod">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top"
                                            [src]="item.avatar_Url"
                                            alt="Card image cap">
                                        <div class="card-body" style="min-height: 148px;">
    
                                            <h5 class="card-title">{{item.code_Title}}</h5>
    
                                            
                                            <span class="badge-success" [ngClass]="{'badge-warning' : item.status === 'Chờ duyệt'}">{{item.status}}</span>
                                          
    
                                        </div>
    
                                    </div>
    
                                </a>
                            </div>
                        </div>
                        <!-- product-item -->
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>